.admin-app-menu{
	position: absolute;
	top: 75px;
	bottom: 0;
	width: 200px;
	background-color: #393d49;
	color: #c2c2c2;
	font-size:14px;	
	cursor: pointer;
}
.admin-app-menu ul{
	list-style-type: none;
}
.admin-app-menu .menu-bar{
	height:45px;
	padding-left:15px;
	margin-left: -40px;
	border-left:6px solid #393d49; 
}
.admin-app-menu .menu-bar:hover{
	color:white;
	border-left:6px solid #009688;
	background-color: #4e5465; 
}
.admin-app-menu .menu-bar span{
	line-height:45px;
	display: inline-block;
	margin-left: 10px;
	width:120px;
}
.admin-app-menu .menu-items{
	display: none;
}
.admin-app-menu .menu-items p{
	line-height:30px;
	margin-left:-90px;
	color: #c2c2c2;
}
.admin-app-menu .menu-items p:hover{
	color:white;
	background-color: #4e5465;
}